{{! Template Inputs: }}

{{! name -> string   }}

<div id="{{name}}">

<svg style=display:block;shape-rendering:crispEdges;height:200px;width:33px;margin:0 -14px;cursor:pointer;>

</svg>
{{name}}

</div>
